extends layout

block content
  h1=title

  div(class="postContainter")
    each post in post_list
      div(class="col")
        a(href='/posts' + post.url) #{post.title} 
        //if user   
        a(href='/admin' + post.url + '/delete') Delete Post
        a(href='/admin' + post.url + '/update') Update Post

    else
      h1 There are no posts.